@font-face {
    font-family: open-sans;
    src: url(res/OpenSans.ttf);
}
body,input,button,select {
    font-family: open-sans,sans-serif;
}
.table_container {
    overflow: auto;
}
#add_inputs_container>* {
    font-weight: 700;

}